<!--会員退会画面-->

<p>本当に退会しますか？</p>

<p>
	退会すると、会員登録情報や<br>
	これまでの購入履歴が閲覧できなくなります。<br>
	退会する場合は、「退会する」をクリックしてください。
</p>
<!--会員マイページに遷移-->
<%= link_to "退会しない", (@customer.id) %>
<!--退会後は会員新規登録画面に遷移-->
<%= link_to "退会する", (withdraw_customers), method: :patch %>