<!--会員退会画面-->
<div class="container">
  <div class="row">
    <div class="col">
			<h3 class="mx-3  my-5 text-secondary border border-3 rounded-top col-2 text-center" alt="...">本当に退会しますか？</h3>

			<div class="border boder-3 rounded-top text-center mx-2 my-3 text-secondary" alt="...">
				<b>退会すると、会員登録情報や</b><br>
				<b>これまでの購入履歴が閲覧できなくなります。</b><br>
				<b>退会する場合は、「退会する」をクリックしてください。</b>
			</div>
<!--会員マイページに遷移-->
<!--current_customerなのでcustomers_controllerのunsubscribeには@customerなどの記述不要-->
			<%= link_to "退会しない", customer_path(current_customer.id), class:"btn btn-outline-primary ml-2 btn-sm" %>
<!--退会後は会員新規登録画面に遷移-->
<!--data: { confirm: "退会してもよろしいですか？" }=退会するボタン押した後確認メッセージ表示させる-->
			<%= link_to "退会する", withdraw_customers_path, method: :patch, data: { confirm: "退会してもよろしいですか？" }, class:"btn btn-outline-danger ml-1" %>
		</div>
  </div>
</div>