<h1>About</h1>

<p>
  ながのCAKEは全国発送可能なケーキ屋さんです。<br>
  お子様からお年寄りの方までお召し上がりいただけるよう、<br>
  様々なバリエーションを用意しております。<br>
  また、全国への発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
  ぜひご注文ください。
</p>

<!--とりあえずNOIMAGEを表示、後で写真に差し替える？-->
<!--image_tagはファイルの保存先などを記述する必要はない-->
<%= image_tag "no_image.jpg" %>