<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="mx-2 my-5 text-secondary border border-3 rounded-top col-2 text-center" alt="...">About</h4>

      <div class="border boder-3 rounded-top text-center mx-2 my-3 text-secondary" alt="...">
        <b>ながのCAKEは全国発送可能なケーキ屋さんです。</b><br>
        <b>お子様からお年寄りの方までお召し上がりいただけるよう、</b><br>
        <b>様々なバリエーションを用意しております。</b><br>
        <b>また、全国への発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</b><br>
        <b>ぜひご注文ください。</b>
      </div>

      <!--とりあえずNOIMAGEを表示、後で写真に差し替える？-->
      <!--image_tagはファイルの保存先などを記述する必要はない-->
      <%= image_tag "no_image.jpg", class:"mx-2" %>
    </div>
  </div>
</div>