<div class="border boder-3 rounded-top text-center mx-2 my-3 text-secondary" alt="...">
  ようこそ、ながのCAKEへ！<br>
  このサイトは、ケーキ販売のECサイトになります。<br>
  会員でない方も商品の閲覧は出来ますが、<br>
  購入には会員登録が必要になります。<br>
</div>

<div class="text-secondary">
  <h4 class="mx-3 my-3 text-secondary border border-3 rounded-top col-3 text-center" alt="...">新着商品</h4>

  <!--新着商品を４つ表示する-->
  <!--並び替え機能と同様にモデルで定義-->
  <!--eachの繰り返し回数を４回で指定すれば良さそう-->

  <%= link_to "全ての商品を見る＞", items_path, class:"" %>
</div>


<!--ジャンル検索の呼び出しはrenderで実施-->
<!--adminから呼び出す？？権限？？-->
<!--render ''-->