<!--機能がすべて出来たら取り掛かる-->
<!--それぞれの表示を検索機能のボタンに修正→最終的に盛り込む-->
<!--colで分割表示、左側に表示-->
<table>
  <thead>
    <tr>
      <th>
        ジャンル検索
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        ケーキ
      </td>
    </tr>
    <tr>
      <td>
        焼き菓子
      </td>
    </tr>
    <tr>
      <td>
        プリン
      </td>
    </tr>
    <tr>
      <td>
        キャンディ
      </td>
    </tr>
  </tbody>
</table>