<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="mx-3  my-5 text-secondary border border-3 rounded-top col-2 text-center">配送先編集</h4>
      <%= render 'form', address: @address %>
    </div>
  </div>
</div>