<!--下線をBootstrapで記述-->

<footer>
  <div class='container mt-5'>
    <div class='row border-bottom boder-secondary'>
      <div class='col-md-12 text-center'>
        <!--<div class="border_bottom boder_secondary"></span>-->
      </div>
    </div>
  </div>
</footer>